@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');

.cursor-pointer{
	cursor: pointer;
}

.ucfirst:first-letter{
	text-transform: uppercase;
}

.font-titillium{
	font-family: 'Titillium Web', sans-serif;
}